@charset "UTF-8";
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");

* {font-family: 'NanumSquareNeoBold'; }

div {
	width: 1024px;
	margin: 0px auto;
}

header {
	height: 98px;
	margin: 10px auto;
}

#logo {
	font-family: 'NanumSquareNeoHeavy';
	height: 40px;
}

#headlinks {
	width:1024px;
	display:flex;
	justify-content: flex-end;
}

#headlinks>a {
	height: 15px; display: inline-block;
	color: black; font-size: 13px;
	text-decoration: none; text-align: right;
	border-bottom: 1px solid transparent;
	margin-left: 5px;
}

#headlinks>a:hover { border-bottom: 1px solid black; }

.menu {
	width: 100%; height: 40px;
	display: flex; justify-content: center; align-items: center;
	background-color: white;
	border-top: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;
	position:relative;
}

.menu ul, li {
	list-style: none; float: left;
	line-height: 35px;
}

.menu_in>a {
	width: 130px; height: 30px;
	color: black; font-size: 16px;
	text-decoration: none; text-align: center;
	line-height: 30px;
	border: solid 5px transparent;
	display: block;
	font-family: 'NanumSquareNeoExtraBold';
}

.menu_in>a:hover {
	color: #FF7322;
	border-bottom: solid 5px #FF7322;
}

#imgback {
	width: 100%;
	height: 500px;
	margin : 5px auto;
	background: linear-gradient(to right, rgba(20, 20, 20, 1) 20%,
		rgba(20, 20, 20, 0.75) 35%, rgba(20, 20, 20, 0.7) 50%,
		rgba(20, 20, 20, 0.75) 65%, rgba(20, 20, 20, 1) 100%),
		url("/Scenema/Scenema_images/movie1_background.jpg");
	background-size: cover;
}

#imgs {
	width: 1024px;
	height: 500px;
	margin: 0px auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#poster button {
	width: 300px;
	height: 40px;
	margin: 15px 0px 5px 0px;
	background-color: #FF7322;
	border: 0px solid #FF7322;
	border-radius: 3px;
	font-size: 18px;
	color: white;
}

#movietitle * {
	color: white;
}

#movietitle button {
	width: 80px;
	height: 30px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 3px;
}

#movietitle button:hover {
	background-color: white;
	color: #EA2649;
}

#titleBottom { 
	width: 650px; height: 80px; 
	display:flex; justify-content:flex-start;
}

#titleBottom div { 
	margin : 0px 2px;
}

#detail_list {
	width:1024px;
	padding-left : 8px;
	list-style: none; float: left;
	line-height: 35px;
}

.detail_item {
	width:335px; height: 50px;
	border-top : 1px solid lightgrey;
	border-right : 1px solid lightgrey;
	border-bottom: 1px solid #FF7322;
	text-align: center; line-height:50px;
	font-size: 18px;
	cursor: pointer;
}

#ditem1 { 
	border : 1px solid #FF7322;
	border-bottom-width:0px;
	color : #FF7322;
}

.detail_item:hover {
	color : #FF7322;
}

.detail_divs:nth-child(n+1){
	display: none;
}

/* 슬라이더 */
.slider {
	width:100%;
    height:600px;
    position:relative;
    background-color:#FDFDFD; 
}

/* 슬라이더 - 페이지 버튼 */
.slider > .page-btns {
    text-align:center;
    position:absolute;
    bottom:20px;
    left:0;
    width:100%; 
}

.slider > .page-btns > div {
    width:10px;
    height:10px;
    background-color:rgba(0,0,0,.5);
    border-radius:4px;
    display:inline-block;
    cursor:pointer;
}

.slider > .page-btns > div.active {
    background-color:rgba(255,155,34,0.8);
}

/* 슬라이더 - 슬라이드 */

.slider > .slides > div {
    position:absolute;
    top:0; left:0; right:0; bottom:0; opacity:0;
    transition: opacity 0.3s;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.slider > .slides > div.active {
    opacity:1;
}

.slider > .slides video { 
	max-width: 100%; 
	display: block;
	margin: 0px auto;
	position:absolute;
	z-index:1;
}

.slider > .slides p{
	height : 50px; line-height: 50px;
	font-size : 20px; 
	text-align : center; 
	margin : 0px auto;
	padding : 10px auto;
	border-top : 1px solid lightgrey;
	border-bottom : 2px solid #FF7322;
}

/* 슬라이더 좌우 버튼 */
.slider > .side-btns > div {
    position:absolute;
    top:0; left:0; width:7%; height:100%;
    margin: 0px auto;
    cursor:pointer;
}
.slider > .side-btns :hover {
    background-color:rgba(0,0,0,.1);
}

.slider > .side-btns > div:last-child {
	left : auto;
    right:0;
}
.slider >.side-btns > div > span {
    position:absolute;
    top:50%;
    left:10%;
    transform:translatey(-50%);
    font-size:50px;
    color:#FF7322;
}
.slider >.side-btns > div:last-child > span {
    left:auto;
    right:10%;
}

.slider >.side-btns > div :hover{
	background-color:rgba(0,0,0,0);	
}

/* 슬라이더 끝 */

/* 별점구현 */
.starRev {
	width:100%; display:flex;
	justify-content: center;
}

.starR{
  display: inline-block;
  width: 40px;
  height: 40px;
  color: transparent;
  text-shadow: 0 0 0 #f0f0f0;
  font-size: 40px;
  box-sizing: border-box;
  cursor: pointer;
}

/* 별 이모지에 마우스 오버 시 */
.starR:hover {
  text-shadow: 0 0 0 #ccc;
}

/* 별 이모지를 클릭 후 class="on"이 되었을 경우 */
.starR.on{
  text-shadow: 0 0 0 #FF7322;
}