@charset "EUC-KR";
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");

* {font-family: 'NanumSquareNeoBold'; }

div {
	width: 1024px;
	margin: 0px auto;
}

header {
	height: 98px;
	margin: 10px auto;
}

#logo {
	font-family: 'NanumSquareNeoHeavy';
	height: 40px;
}

#headlinks {
	width:1024px;
	display:flex;
	justify-content: flex-end;
}

#headlinks>a {
	height: 15px; display: inline-block;
	color: black; font-size: 13px;
	text-decoration: none; text-align: right;
	border-bottom: 1px solid transparent;
	margin-left: 5px;
}

#headlinks>a:hover { border-bottom: 1px solid black; }

.menu {
	width: 100%; height: 40px;
	display: flex; justify-content: center; align-items: center;
	background-color: white;
	border-top: solid 1px lightgrey;
	border-bottom: solid 1px lightgrey;
	position:relative;
}

.menu ul, li {
	list-style: none; float: left;
	line-height: 35px;
}

.menu_in>a {
	width: 130px; height: 30px;
	color: black; font-size: 16px;
	text-decoration: none; text-align: center;
	line-height: 30px;
	border: solid 5px transparent;
	display: block;
	font-family: 'NanumSquareNeoExtraBold';
}

.menu_in>a:hover {
	color: #FF7322;
	border-bottom: solid 5px #FF7322;
}

#imgback {
	width: 100%;
	height: 500px;
	margin : 5px auto;
	background: linear-gradient(to right, rgba(20, 20, 20, 1) 20%,
		rgba(20, 20, 20, 0.75) 35%, rgba(20, 20, 20, 0.7) 50%,
		rgba(20, 20, 20, 0.75) 65%, rgba(20, 20, 20, 1) 100%),
		url("/Scenema/Scenema_images/movie1_background.jpg");
	background-size: cover;
}

#imgs {
	width: 1024px;
	height: 500px;
	margin: 0px auto;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

/* #imgs #poster {
	border: 3px solid #FF7322;
} */
#poster button {
	width: 300px;
	height: 40px;
	margin: 15px 0px 5px 0px;
	background-color: #FF7322;
	border: 0px solid #FF7322;
	border-radius: 3px;
	font-size: 18px;
	color: white;
}

#movietitle * {
	color: white;
}

#movietitle button {
	width: 80px;
	height: 30px;
	background-color: transparent;
	border: 1px solid white;
	border-radius: 3px;
}

#movietitle button:hover {
	background-color: white;
	color: #EA2649;
}

#titleBottom { 
	width: 650px; height: 80px; 
	display:flex; justify-content:flex-start;
}

#titleBottom div { 
	margin : 0px 2px;
}

#details {
	height: 500px;
}

#detail_list {
	width:1024px;
	padding-left : 8px;
	list-style: none; float: left;
	line-height: 35px;
}

.detail_item {
	width:250px; height: 50px;
	border-top : 1px solid lightgrey;
	border-right : 1px solid lightgrey;
	border-bottom: 1px solid #FF7322;
	text-align: center; line-height:50px;
	font-size: 18px;
}

#ditem1 { 
	border : 1px solid #FF7322;
	border-bottom-width:0px;
}

.detail_item:hover {
	color : #FF7322;
}
