@charset "UTF-8";
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square-neo.css");

* {font-family: 'NanumSquareNeoBold'; }

div {
    width: 1024px;
    margin: 0px auto;
}

header {
    height: 98px;
    margin: 10px auto;
}

#logo {
    font-family: 'NanumSquareNeoHeavy';
    height: 40px;
}

#headlinks {
    width:1024px;
    display:flex;
    justify-content: flex-end;
}

#headlinks>a {
    height: 15px; display: inline-block;
    color: black; font-size: 13px;
    text-decoration: none; text-align: right;
    border-bottom: 1px solid transparent;
    margin-left: 5px;
}

#headlinks>a:hover { border-bottom: 1px solid black; }

.menu {
    width: 100%; height: 40px;
    display: flex; justify-content: center; align-items: center;
    background-color: white;
    border-top: solid 1px lightgrey;
    border-bottom: solid 1px lightgrey;
    position:relative;
}

.menu ul, li {
    list-style: none; float: left;
    line-height: 35px;
}

.menu_in>a {
    width: 130px; height: 30px;
    color: black; font-size: 16px;
    text-decoration: none; text-align: center;
    line-height: 30px;
    border: solid 5px transparent;
    display: block;
    font-family: 'NanumSquareNeoExtraBold';
}

.menu_in>a:hover {
    color: #FF7322;
    border-bottom: solid 5px #FF7322;
}

.product-list{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.products h3{
    font-size: 24px;
    color: #545454;
    margin-top:60px;
    margin-bottom: 60px;
    text-align: center;
}

.product{
    display: block;
    width: 225px;
    text-align: center;
    text-decoration:none;
    color: black;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
}

.product-name{
    margin-top: 20px;
    margin-bottom: 4px;
}

.clearfix{
    clear: both;
}

.carousel-inner{
    width:100%;
    height:auto; /* 이미지 높이 변경 */
}
.carousel-item{
    width:100%;
    height:100%;
}
.d-block {
    display:block;
    width:100%;
    height: 100%;
}


header.carousel {

    height: 30%;

}

header.carousel .item, header.carousel .item.active, header.carousel .carousel-inner {

    height: 100%;

}

header.carousel .fill {

    width: 100%;

    height: 100%;

    background-position: center;

    background-size: 3000px 100%;

    max-width: 100%;

}

.carousel-item {
    width: 100%;
}